<ion-content>
  <div class="join-page-wrapper">
    <div class="join-page-top-container">
      <ion-text style="margin-bottom: 20px; margin-top: 20px;">
        <h1 style="text-align: left; font-size:58px; line-height: 83px;">
          <div>Register.</div>
          <div>Join.</div>
          <div>Explore.</div>
        </h1>
      </ion-text>

      <p style="line-height: 27px; font-size: 16px;">A mobile app for car enthusiasts to register, join discussions on
        used car models, and post or search
        classified
        ads for specific used cars.
      </p>
    </div>

    <div class="social-container">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-google"></ion-icon>
      <ion-icon name="logo-apple"></ion-icon>
    </div>

    <div class="or-separator">
      <hr>
      <span>OR</span>
      <hr>
    </div>
    <app-common-button [label]="'Sign up with mail'" [expand]="'full'" [color]="'secondary'" [shape]="'round'"
      (onButtonClick)="navigateToSignupPage()"></app-common-button>
    <div style="text-align: center; margin-top: 10px; color: #909094;">
      Existing Account? <a routerLink="/login">
        <ion-text color="light" style="font-weight: bold; line-height: 24px;">
          Login
        </ion-text>
      </a>
    </div>
  </div>

</ion-content>