app-landing-page {

    .landing-page-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #282832;
    }

    .landing-page-logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }
}