<ion-content class="landing-page-container">
  <div class="landing-page-wrapper">

    <div class="landing-page-logo-wrapper">
      <img src="/assets/images/landing-car.svg" alt="placeholder" style="margin-right: 10px;" />
    </div>

    <div class="application-header ion-text-center">
      <h1>MOTOR GARAGE</h1>
    </div>

    <div class="action-container ion-text-center ion-padding">
      <ion-button shape="round" expand="block" color="secondary" (click)="navigateToJoinPage()">Join Now</ion-button>
    </div>
  </div>
</ion-content>