<ion-header>
    <ion-toolbar style="display: flex; align-items: center; justify-content: center;">
        <ion-buttons slot="start">
            <ion-button color="light" size="large">
                <ion-icon name="add-circle"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title style="color: white;">Home</ion-title>

        <ion-buttons slot="end" s>
            <ion-avatar slot="icon-only" style="display: flex; align-items: center;">
                <img style="height: 36px; width: 36px;" alt="Silhouette of a person's head"
                    src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>