<div [ngClass]="{'current-user': isCurrentUser, 'other-user': !isCurrentUser}" class="message-wrapper">
  <ion-avatar class="message-avatar">
    <img [src]="message.senderAvatar" alt="{{message.senderName}} Avatar">
  </ion-avatar>

  <div class="message-content">
    <h3 class="sender-name">{{message.senderName}}</h3>
    <div class="message-text">
      <p>{{message.text}}</p>
      <img *ngIf="message.image" [src]="message.image" alt="Shared Image">
    </div>
    <span class="message-time">{{message.time}}</span>
  </div>
</div>