<div class="action-buttons">
  <div class="row">
    <div class="col" (click)="contactDealer()">
      <ion-icon name="call-outline"></ion-icon>
      <p>Contact Dealer</p>
    </div>
    <div class="col" (click)="viewCarDetails()">
      <ion-icon name="car-outline"></ion-icon>
      <p>Car Details</p>
    </div>
  </div>
  <div class="row">
    <div class="col" (click)="viewLocation()">
      <ion-icon name="location-outline"></ion-icon>
      <p>Location</p>
    </div>
    <div class="col" (click)="calculateEMI()">
      <ion-icon name="calculator-outline"></ion-icon>
      <p>EMI Loan</p>
    </div>
  </div>
</div>
